<div mat-dialog-content>
  <form
    class="form"
    [formGroup]="movieFilterForm"
    (ngSubmit)="onFilterMoviesFormSubmit()"
  >
    <mat-label class="label">Filter movies by:</mat-label>
    <mat-form-field>
      <mat-select
        placeholder="Rated:"
        name="rated"
        formControlName="rated"
        id="rated"
      >
        <mat-option
          *ngFor="let filterRated of filterSelectorRated"
          value="{{ filterRated }}"
        >
          {{ filterRated }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select
        placeholder="Genre:"
        name="genre"
        formControlName="genre"
        id="genre"
      >
        <mat-option
          *ngFor="let filterGenre of filterSelectorGenre"
          value="{{ filterGenre }}"
        >
          {{ filterGenre }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select
        placeholder="Type"
        name="type"
        formControlName="type"
        id="type"
      >
        <mat-option
          *ngFor="let filterType of filterSelectorType"
          value="{{ filterType }}"
        >
          {{ filterType }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-raised-button
      [mat-dialog-close]="data"
      cdkFocusInitial
      type="submit"
    >
      Filter
    </button>
  </form>
</div>
