<div class="container">
  <form
    [formGroup]="genreForm"
    (ngSubmit)="preferredGenreSubmit()"
    class="form-wrapper"
  >
    <mat-form-field>
      <mat-label>Your Name:</mat-label>
      <input
        matInput
        [(ngModel)]="user"
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Your preferred genre:</mat-label>
      <mat-select formControlName="genre" id="genre">
        <mat-option *ngFor="let genre of genres" [value]="genre">
          {{ genre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button type="submit" mat-raised-button>Continue</button>
  </form>
</div>
